body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

#hero {
    background-color: #d84315;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

section {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
}

.producto {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-left: 5px solid #d84315;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
img{
    width: 500px;
    height: 500px;
}
.flex-container{
    display: flex;
    height: 100%;
    justify-content: center;
}
.imagen-centrada{
    max-width: 90%;
    height: auto;
}